.center-wrapper {
  display: flex;
  justify-content: center;
}

.main-pick-one {
  padding: 30px 40px;
  color: #afd8c5;
  font-family: sans-serif;
  font-size: 48px;
  font-weight: 100;
  line-height: 1.6;
}

.pickone {
  font-weight: 900;
}

.option {
  padding: 10px;
}

.option:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reading {
  max-width: 570px;
  background-color: #E7F4EF;
  border-radius: 77px;
}

.reading-image img {
  width: 100%;
  border-radius: 30px;
}

.reading-text {
  color: #696969;
  font-size: 27px;
  line-height: 1.4;
}

.private-reading {
  margin: 20px 0 10px 0;
  font-size: 23px;
  line-height: 1.4;
}

a:hover {
  background-color: #d2ffea97;
}

a:link, a:visited {
  color: #afd8c5 !important;
}

@media (max-width: 480px) {
  .reading {
    border-radius: 77px;
  }

  .reading-text {
    font-size: 24px;
  }

  .private-reading {
    font-size: 21px;
  }
}